In [9]:
import pandas as pd
df = pd.read_csv('../datasets/real_estate_data.csv', sep='\t')

# 1. Предобработайте данные по недвижимости и оставьте только те города, в которых количество объявлений больше 50

In [20]:
# получаю таблицу с количеством объявлений по городам
over_fifty = df.groupby('locality_name').agg({'total_images': 'count'})

In [21]:
# изменияю название колонны для удобства
over_fifty = over_fifty.rename({'total_images': 'amount'}, axis=1)

In [26]:
# получаю таблицу с кол-вом объявлений больше 50шт., отстортированную по убыванию
over_fifty = over_fifty.query('amount > 50').sort_values('amount', ascending=False).reset_index()

In [28]:
'''
Произвожу слияние таблиц (over_fifty and df), для того чтобы получить оригинальный 
датасет, но содержащий города в которых кол-во объявлений больше 50шт.
Использовать буду параметр inner, так как он самый подходящий в этом случае
Колонна по которой будет происходить отбор - locality_name
'''
data = df.merge(over_fifty, on=['locality_name'], how='inner')
data

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition,amount
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN,15721
1,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0,15721
2,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0,15721
3,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0,15721
4,5,7915000.0,71.6,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,...,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN,15721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21631,3,1900000.0,18.9,2016-04-04T00:00:00,1,NaN,16.0,16.0,12,NaN,...,0.0,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,115.0,104
21632,8,2600000.0,36.0,2017-01-25T00:00:00,2,2.50,5.0,24.0,2,False,...,1.0,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0,104
21633,3,3150000.0,45.3,2017-12-08T00:00:00,1,NaN,10.0,22.5,9,NaN,...,2.0,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,124.0,104
21634,9,3200000.0,51.0,2016-07-02T00:00:00,2,2.50,9.0,30.0,9,False,...,1.0,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,120.0,104
21635,14,3100000.0,59.0,2018-01-15T00:00:00,3,NaN,5.0,38.0,4,NaN,...,NaN,Тосно,NaN,NaN,NaN,NaN,NaN,NaN,45.0,104

In [33]:
# можно легко проверить мой результат следующим выражением
df.info()

test1 = over_fifty['locality_name'].count()
test2 = data['locality_name'].count()
print(test1,test2)
# test1.equals(test2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB
35 21636